<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
        <a routerLink = "/">Ng tracker</a>
      
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul class="nav-items" fxLayout fxLayoutGap = "23px">
        <li *ngIf = "!isAuth">
          <a routerLink="/signup">Signup</a>
        </li>
        <li *ngIf = "!isAuth"><a routerLink="/login">Login</a></li>
        <li *ngIf = "isAuth"><a routerLink="/training"> Training</a></li>
        <li *ngIf = "isAuth">
          <a (click) = "onLogout()" style="cursor: pointer" routerLink="/logout"> Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>